<head>
    <script src="{{ url_for('static', filename='js/device_table.js') }}" type="module"></script>
</head>

<div class="h-100 bg-secondary rounded p-4" id="device_list">
    <div class="d-flex align-items-center justify-content-around mb-4">
        <h4 class="mb-0">
            Device List
            <i class="fa fa-network-wired m-1" aria-hidden="true"></i>
        </h4>
        <button class="btn btn-md btn-outline-danger m-2" id="listen_logs-btn" onclick="clear_all_devices()">
            Clear All Devices
            <i class="fa fa-eraser m-1" aria-hidden="true"></i>
        </button>
    </div>
    <div class="d-flex mb-2">
        <input class="form-control bg-transparent" id="device_ip" type="text" placeholder="Enter IP">
        <button type="button" class="btn btn-success ms-2" onclick="add_device()">Add</button>
    </div>
    <div class="d-flex align-items-center border-bottom py-2 ps-1">
        <button class="btn btn-md"><i class="fa fa-times"></i></button>
        <div class="w-100 m-3">
            <div class="d-flex w-100 align-items-center justify-content-around">
                <span>DEVICE</span>
                <span>STATUS</span>
            </div>
        </div>
    </div>
</div>