<div class="bg-secondary rounded">
    <button class="btn btn-lg btn-outline-success m-2 align-items-center" onclick="start_Action()">
        RUN
        <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-lg btn-outline-danger m-2" onclick="stop_Action()">
        <i class="fa fa-times fa-lg"></i>
        Stop
    </button>
</div>

<script src="{{ url_for('static', filename='js/general_action_buttons.js') }}" type="module"></script>
