<!-- IP Addresses -->
<div class="col-sm-12 col-xl-12 full_width">
    <div class="bg-secondary rounded p-4 h-100">
        <div class="form-floating mb-3 form_area_auto_fit">
            <span class="input-group-text">IP Addresses / Hostnames</span>
            <textarea class="form-control text_area_height_100" aria-label="IP Addresses"
                spellcheck="false" id="input_IP_Addresses_Hostnames"
                placeholder="Enter IP address [- (dash), \t (tab), \s (space)] Hostname or only IP Addresses separated by a new line or comma. Example: '1.1.1.1, 1.1.1.2' or '1.1.1.1 node0.example.com, 1.1.1.2 node1.example.com'"
                required></textarea>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/ip_hostname_table.js') }}" type="module"></script>
