<div class="col-sm-12 col-xl-12">
    <div class="bg-secondary rounded p-4">
        <div class="fakeMenu align_item_center">
            <a class="btn btn-info p-2 m-1" id="download_terminal_logs-btn" href="javascript:window.location.href=window.terminal_log_download_source_url + '/' + document.body.getAttribute('data-page-type');">
                Download Terminal Log 
                <i class="fa fa-download m-1" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-success m-2" id="listen_logs-btn" onclick="terminal_EventSource_Start()">
                Watch Logs
                <i class="fa fa-eye m-1" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-warning m-2" id="stop_logs-btn" onclick="terminal_EventSource_Stop()">
                Stop Log Watching
                <i class="fa fa-stop m-1" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-info p-2 m-1" id="clear_terminal_logs-btn" onclick="clear_Terminal()">
                Clear Terminal
                <i class="fa fa-eraser m-1" aria-hidden="true"></i>
            </button>
        </div>
        <div class="fakeScreen">
            <p class="terminal_text" id="stream_content" class="line2"></p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/terminal_stream.js') }}" type="module"></script>
