{% extends 'base.html' %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <button type="button" class="btn-lg btn-success m-2" id="run-btn">Run</button>
    </div>
</div>

<div class=fakeMenu>
    <div class="fakeButtons fakeClose"></div>
    <div class="fakeButtons fakeMinimize"></div>
    <div class="fakeButtons fakeZoom"></div>
</div>
<div class="fakeScreen">
    <p id="content" class="line2"><span class="cursor2">_</span></p>
</div>

<script src="{{ url_for('static', filename='js/log_collection_stream.js') }}"></script>
<!-- Recent Sales End -->
{% endblock %}