{% extends 'base.html' %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <a href="{{ url_for('fqdn_page') }}", type="button" class="btn-xlg-square btn-success m-2" id="fqdn-btn">FQDN Setup</a>
        <a href="{{ url_for('cleanup_page') }}", type="button" class="btn-xlg-square btn-success m-2" id="cleanup-btn">Cleanup</a>
        <a href="{{ url_for('backup_page') }}", type="button" class="btn-xlg-square btn-success m-2" id="backup-btn">Backup</a>
        <a href="{{ url_for('restore_page') }}", type="button" class="btn-xlg-square btn-success m-2" id="restore-btn">Restore</a>
        <a href="{{ url_for('log_collection_page') }}", type="button" class="btn-xlg-square btn-success m-2" id="fqdn-btn">Log Collection</a>
    </div>
</div>

<!-- Recent Sales End -->
{% endblock %}