{% extends 'base.html' %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="tab-content" id="pills-tabContent">
        <div class="col-sm-12 col-xl-12 align_item_center">
            <div class="bg-secondary rounded">
                {% include 'template/ssh.html' %}
                {% include 'template/general_action_buttons.html' %}
                <div class="col-sm-12 col-xl-12 align_item_center">
                    {% include 'template/file_table.html' %}
                    {% include 'template/device_table.html' %}
                </div>
            </div>
        </div>
        {% include 'template/terminal.html' %}
    </div>
    
</div>

<script src="{{ url_for('static', filename='js/backup.js') }}" type="module"></script>

<!-- Recent Sales End -->
{% endblock %}