{% extends 'base.html' %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="tab-content" id="pills-tabContent">
        <div class="col-sm-12 col-xl-12 align_item_center">
            <div class="bg-secondary rounded">
                <div class="col-sm-12 col-xl-12 align_item_center">
                    {% include 'template/ip_hostname_table.html' %}
                </div>
                <div class="col-sm-12 col-xl-12 align_item_center">
                    {% include 'template/ssh.html' %}
                </div>

                <div class="col-sm-12 col-xl-12 align_item_center">
                    <div class="bg-secondary rounded p-4">
                        <button type="button" class="btn-xlg-square btn-success m-2" onclick="restore_control(this)">
                            Backup Control Endpoint
                        </button>
                    </div>
                </div>
                {% include 'template/flex_container.html' %}
                {% include 'template/general_action_buttons.html' %}

            </div>
        </div>
        {% include 'template/terminal.html' %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/restore.js') }}" type="module"></script>

<!-- Recent Sales End -->
{% endblock %}