<script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.12/draggable.bundle.js"></script>

<div class="menu-container">
  <ul class="menu">
    <li class="submenu submenu_handle bg-info box1" data-toggle="tooltip" title="Drag N Drop">
      <span class="icon-hand fa-xs">one</span>
    </li>
    <li class="submenu submenu_handle box2" data-toggle="tooltip" title="Drag N Drop">
      <span class="icon-hand fa-xs">two</span>
    </li>
    <li class="submenu submenu_handle box3" data-toggle="tooltip" title="Drag N Drop">
      <span class="icon-hand fa-xs">three</span>
    </li>
    <li class="submenu submenu_handle box4" data-toggle="tooltip" title="Drag N Drop">
      <span class="icon-hand fa-xs">four</span>
    </li>
    <li class="submenu submenu_handle box5" data-toggle="tooltip" title="Drag N Drop">
      <span class="icon-hand fa-xs">five</span>
    </li>
    <li class="submenu submenu_handle box6" data-toggle="tooltip" title="Drag N Drop">
      <span class="icon-hand fa-xs">six</span>
    </li>
    <li class="submenu submenu_handle box7" data-toggle="tooltip" title="Drag N Drop">
      <span class="icon-hand fa-xs">seven</span>
    </li>
    <li class="submenu submenu_handle bg-warning box8" data-toggle="tooltip" title="Drag N Drop">
      <span class="icon-hand fa-xs">eight</span>
    </li>
  </ul>
</div>