.bg-blur-3px {
    backdrop-filter: blur(3px);
}

.bg-blur-5px {
    backdrop-filter: blur(5px);
}

.bg-blur-7px {
    backdrop-filter: blur(7px);
}

.bg-blur-9px {
    backdrop-filter: blur(9px);
}

.bg-blur-11px {
    backdrop-filter: blur(11px);
}

.bg-blur-13px {
    backdrop-filter: blur(13px);
}

.bg-blur-15px {
    backdrop-filter: blur(15px);
}

.bg-blur-17px {
    backdrop-filter: blur(17px);
}

.bg-blur-19px {
    backdrop-filter: blur(19px);
}

.bg-blur-21px {
    backdrop-filter: blur(21px);
}

.blur-3px{
    filter: blur(3px);
}

.blur-5px{
    filter: blur(5px);
}

.bg-transparent-red {
    background-color: #eb16169e !important;
}

.bg-transparent-dark {
    background-color: #1a1c24c7 !important;
}

.bg-gif-lost {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZzh0djU4NHJia3B4bm4ycnZ1MXEycjc0d3pwdXZmaG9pZXAyNDRjbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l1J9EdzfOSgfyueLm/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-blue-waves {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTRleDBycHVwMGZhd2xqYzBvOHlvMnRnNmVxaDFoYWxqNjY0bDhkMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QvMybzkScTcqHJiZx0/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-gray-circle-waves {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDVzb25nNG4xNW1tc294a3kwdGQ2cDZsaG9kaDBhdTllYmdzM2pxdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/k9nsIRK8hUfLi/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-green-circle {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdnNvZDRvOGM5ZmdqeGxncjVmM2VhMjExYWV5ajlxaWpndHZrdHR6ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2Ok1vk3K5BPX44/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-black-dot-waves {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGIyeW1nazR6eTV2aGdweGJ4ZGJ5M2Jjc2tidHA0dXllc292bXRocSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l1J9uvaWYWkNLjiz6/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-circle-hole-purple {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGMyejYxazZ4ZGVyNHIzZHhjOHltdDcwemVuaDN0aTZ3NHI1emh2NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/27bY60liFpCScDJozd/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-please-stand-by-1 {
    background-image: url("https://media.giphy.com/media/26Ff8cTdHrcyQ1ZLO/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-please-stand-by-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdG9vc3dlc3N6ZXc2MWlmbjd6MnBoNXZ3b3JvYzI5MHYyczNzcm1qcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/sGBKoZuQtWQEEgSvJm/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-loading-purple-1 {
    background-image: url("https://media.giphy.com/media/4EFt4UAegpqTy3nVce/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-wifi-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzd1aGE4bnl6YjB4dGYxYXYzZWw1bmt2a3hwZ3MzdG9pb2dkdm4yOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SA5IWJfBbNCgLpqKjl/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-wifi-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWZ3MThzaGZzNjc5dmJxYzhyY2NmMnYyODZkd2R1emczOWxkdzAwNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zgS5Ld2gKPjLa/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-router-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNm90dmp5a2s4ZWRxeHRoOXZ6YW9rczk5Ymg5aXpvdzJia2ltYnRvbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/j5iIjX5RP8GVzT1FqQ/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-broadcast-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExc3BwMnloeWxlNHNiYmE2aWlucmR4ZnQ3cXU3em5oczZyZm1seHgzYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o6MbrhrLREdW4TZ6g/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-broadcast-1-lost {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWlqbmF1aWxyM2p5OHF2YTB1eG9wbWVtNHd1eTdsdGY2b29wdTh0aiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT5LMPibsc1ZaiSDLi/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-loading-1 {
    background-image: url("https: //media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcm1saHdwa2xoZ2FnOG8xODV3c3IzdWY1Y2NldzB5Y2g0ZnBnaWw5ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3AMRa6DRUhMli/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-loading-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmxlc2ZiZXc4cTh6MXFrajZhNzI2MWhqNTIxOWU4MTBncHJqZzE3MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hTrXs1jw6ABY9dDyxS/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-black-hole-red {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWN3aTg0b2tvbWlybHJoc3JodzVhb3V6Z2piYW8zNjF0bHBuMG9xdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MAdMC2gV9PUMqBTs8w/giphy-downsized-large.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-no-connection {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbHFvbzVxMTVvc2pycWZnaTd5YXp2aTZlNWc0cjBlNGN4MzN0aDRsdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hk8ov7d7mTdLuad20E/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-simpsons-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2hpYmphb2UwbTBkazIxaWJmazVlczRoaDZ5enBjODgyY3g2ZGVpdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8EmeieJAGjvUI/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-working-1 { 
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDZiM2RmOWw4ZGVsd2syc3o1am40NTlxMTY2ZHU4OWw5amh1MWwyOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Sk3KytuxDQJQ4/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-still-waiting-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExazM3cnMzejQ1OW5wYW1xeHQ5aHF1dGw3bnZzbDdkZnJoMmR2aDFtdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QPQ3xlJhqR1BXl89RG/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-still-waiting-2 {
    background-image: url("https://media.giphy.com/media/lP4jmO461gq9uLzzYc/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-still-waiting-3 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExampkNWFjOHkzd29uOHM3NzRxbzVra29hcTZ1b2JhYXdqOHU2ZXBkcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QhjR3MG9ZFfjB6BtIZ/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-waiting-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZG8wcjFjeHc5dHZhOHF1emQyemQ2N3dmaGN1MnA0anJ4dng5bm8zZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tXL4FHPSnVJ0A/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-waiting-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdmhkeHB6bGFnbHNlM3VhdjczNnM0ejAyZzRsbzQ2cmRvdnl0NjE2cyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUPGcdy9cg74187mco/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-waiting-3 {
    background-image: url("https://media.giphy.com/media/YZFO68qCW9KtG/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-waiting-4 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTR1cTk3bmd1dGt0dTEzZW9kc3h6dG1yNTJldHNmc3FkNTRjaHhseCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wbXkGmM7YMgpCggnPB/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-waiting-5 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2xhcnEwY2VmM2k2OWtiemI2eGJ4cnJjZzUwZjRnamI5MHkwN3U1MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QBd2kLB5qDmysEXre9/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-take-your-time-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGZ2cmJ2cWM4anB0NWM3ang1dXkxZWpwdm15azYxNzlubHF5MTg2eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ohdmJuMIE08Ld7Jj0s/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-waiting-dumbledore-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTAxaTliejlmcjE3ZjBvbG91NnY3N3l2cHF5cXYxZGhkem92dDlnZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hCiQVo1dzVwPu/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-waiting-simpsons-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExc3QxNjViYzVwcm16dGM5NG5uYjQzMDYzd3MxYnRpbG94bnlha3d4MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xf20D8HzvTQzu/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-setting-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdnBxNm4zZ3ZzM3ZvemtnNWNra2phazRpYnV3ODFzaHo1NWplYTEyYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LESpNIDaNBUcRIPzng/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-setting-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2Z4bXhqOTlpMjE5MjQyZGR1dDBrYTZnNDhpcWhzY29xdTlkaTVqbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6UL3rqweR5Y2Jcrnqb/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-setting-3 {
    background-image: url("https://media.giphy.com/media/E6NWr6GqIdbVx4ECJl/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-data-center-1 {
    background-image: url("https://media.giphy.com/media/5ZoMkoRrycZ9z02kko/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-database-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGRsOG1yMXFwMzF0djZiM244bnk5dTJidjlyN2J3dDZrbGk5NDcwOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kPrlykW2TpVU4HWx2O/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-iot-1 {
    background-image: url("https://media.giphy.com/media/dP0WAyNyTKSNqNm6zn/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-connecting-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHoweWIxZDM1OWpmdjc2Y2V0ZjNhNG1zeTVhbDdudTdjdGxyaGQ2dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/vxWq52dFPthnKjRbLY/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-programming-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExemtmdnl6c3RnbDNkb3prY2g4b25lamM2cHcxOHYzaXFoaW15YmpsNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YjdrobuxYU3aVqBO7a/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-programming-2 {
    background-image: url("https://media.giphy.com/media/XyVDh6GsCMRW731Gm2/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-programming-3 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdmx1YTF6eDh1ZTRvNmxvc2d6NTNnNWljMTM1ZTM1Mm16Y2plZjg5YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ld8UtJABpDaIW0qYTS/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-cloud-1 {
    background-image: url("https://media.giphy.com/media/R0qGCKtio8kB5spjXY/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-server-1 {
    background-image: url("https://media.giphy.com/media/9igGG6KxpY0eY0Sr5u/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-computer-burn-1 {
    background-image: url("https://media.giphy.com/media/l0DELAq175S4Zeobm/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-simpsons-hide-1 {
    background-image: url("https://media.giphy.com/media/jUwpNzg9IcyrK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-simpsons-scream-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDZtN2E2b3o5Z2dqNGYzd3IyNnBrcmd1MDNuN3E5OTBiMWJlMTZraiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xU9TT471DTGJq/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-simpsons-scream-2 {
    background-image: url("https://media.giphy.com/media/l2JedqLNIjkrEDxNS/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-404-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzM1NWFvY3J6MDdiem44cmYzcHR6dmY1M2p0a211YnNiOHUxNWRqdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/DHBGehJ3FSZEygszX3/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-noise-1 {
    background-image: url("https://media.giphy.com/media/37mOxzzvUtI46oKxZ4/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-server-error-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbXAyd2ZxbTZ2bXhxOHI3Mm10NWJtYTluM3plODR2ZmJjbzl2NDQxMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qaDbEDavgvKBs5jJc5/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-404-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWdhODhheWJwOHo3bjd1MjgxcGR2ZWJ6dWF1ZzlnejB2Y2wyMjFpNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/S8rEAbtG4WA2ULH7CH/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-server-error-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGxhZ3BnM2NtZHJkNWM1cWNpc3hsMmVkdDBtNXFncGhjZXA0MnhoMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/0Dxuk20eU0bDYaxRR8/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-404-3 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGxhZ3BnM2NtZHJkNWM1cWNpc3hsMmVkdDBtNXFncGhjZXA0MnhoMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/0Dxuk20eU0bDYaxRR8/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-error-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjJkbXdzbWh0NTJ6MHhjbHF0d28xNnQxZGpsaTMxMm51b2x2MnI3MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Rkis28kMJd1aE/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-computer-malfunction-1 {
    background-image: url("https://media.giphy.com/media/Nrzs481LzLEdy/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-noise-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTB2OXAwdXQ4ajFlNmt1OWV0cDI0cjl6ZG50bzh1eWU1eG9jdzR0YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/sC0vNYxuMYU24/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-computer-error-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGdtZ3puYWFqaDNseDVxN241d2dzbGo0bTNoMGcxOWoxMnp5ZGgxZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KA593kO0JvXMs/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-computer-programming-1 {
    background-image: url("https://media.giphy.com/media/VF0WIRjfwvFERopBFY/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-noise-3 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGdtZ3puYWFqaDNseDVxN241d2dzbGo0bTNoMGcxOWoxMnp5ZGgxZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KA593kO0JvXMs/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-where-1 {
    background-image: url("https://media.tenor.com/CgNRCkFiioEAAAAd/where-is-the-tip-stackchain.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-file-not-found {
    background-image: url("https://media.giphy.com/media/em3bw47RSsepEFcVLm/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-noise-4 {
    background-image: url("https://media.giphy.com/media/MCooVAfKV86wuvnbDF/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-question {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzZoNDB6M3I5dnp3aXBiY2Q5MTQyd2l4enExdWx2ZHppcDAxNDM2ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/URq7eUzYeeaHOPlO5I/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-alert-1 {
    background-image: url("https://i.gifer.com/7DcD.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-question-mark-1 {
    background-image: url("https://cdn.dribbble.com/users/1144520/screenshots/2908827/media/87ac8ef27c8e0fd38bd7d1b743933a73.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-alert-red-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjJqendrdmRpYWdveGRiNHZlaDZiaXZqODV0d2w1a2p3NTAwbXZ4eiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ov9jL6YCEBtw9hF2o/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-alert-red-2 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGtqdXphcWdmMm44NGJoN3BiMG9zNXViMG1scmpic3d1amI1aXFjbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0IOa1X349KZ8E1i/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-alert-red-3 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGtqdXphcWdmMm44NGJoN3BiMG9zNXViMG1scmpic3d1amI1aXFjbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0IOa1X349KZ8E1i/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-alert-yellow-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTdycm5nMnptZm05NWNpd254cW9yMmxjbGh6czdzYmZ5emNpZjdpMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HMGdYjz17uaUvp1nco/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-alert-red-4 {
    background-image: url("https://media.giphy.com/media/YO7P8VC7nlQlO/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-ok-green {
    background-image: url("https://i.pinimg.com/originals/e8/06/52/e80652af2c77e3a73858e16b2ffe5f9a.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-thumb-up-1 {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDkwajFub2RpbmxsMXJsamF3c3h5dnA3MHhrdjhna3ZkM3hwYWpmeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/111ebonMs90YLu/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif- {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}