.form_area_auto_fit{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.text_area_height_100{
    height: 100% !important;
}

.box_height_150px{
    height: 150px !important;
}

.box_height_200px{
    height: 200px !important;
}

.box_height_250px{
    height: 250px !important;
}

.align_item_center{
    text-align: center;
}

.logo-container{
    padding: 10px;
    align-items: center;
    text-align: center;
    width: 100%;
}

.logo{
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
}

@media (max-width: 576px){
    .full_width{
        width: 100%;
    }
}

.color-red{
    color: red ;
    background-color: transparent ;
    border-color: transparent 
}

.color-yellow{
    color: yellow ;
    background-color: transparent ;
    border-color: transparent 
}

.color-green{
    color: green ;
    background-color: transparent ;
    border-color: transparent 
}

.color-black{
    color: black ;
    background-color: transparent ;
    border-color: transparent 
}

.color-gray{
    color: gray;
    background-color: transparent;
    border-color: transparent
}

.color-white{
    color: white;
    background-color: transparent;
    border-color: transparent
}

.align-items-center{
    align-items: center !important;
    text-align: center !important;
}

.bg-gif-lost{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZzh0djU4NHJia3B4bm4ycnZ1MXEycjc0d3pwdXZmaG9pZXAyNDRjbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l1J9EdzfOSgfyueLm/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-blue-waves{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTRleDBycHVwMGZhd2xqYzBvOHlvMnRnNmVxaDFoYWxqNjY0bDhkMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QvMybzkScTcqHJiZx0/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-gray-circle-waves{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDVzb25nNG4xNW1tc294a3kwdGQ2cDZsaG9kaDBhdTllYmdzM2pxdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/k9nsIRK8hUfLi/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-green-circle{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdnNvZDRvOGM5ZmdqeGxncjVmM2VhMjExYWV5ajlxaWpndHZrdHR6ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2Ok1vk3K5BPX44/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-black-dot-waves{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGIyeW1nazR6eTV2aGdweGJ4ZGJ5M2Jjc2tidHA0dXllc292bXRocSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l1J9uvaWYWkNLjiz6/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-purple-circle-hole{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGMyejYxazZ4ZGVyNHIzZHhjOHltdDcwemVuaDN0aTZ3NHI1emh2NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/27bY60liFpCScDJozd/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-purple-circle-hole{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWZ3MThzaGZzNjc5dmJxYzhyY2NmMnYyODZkd2R1emczOWxkdzAwNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zgS5Ld2gKPjLa/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-gif-purple-circle-hole{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOWZ3MThzaGZzNjc5dmJxYzhyY2NmMnYyODZkd2R1emczOWxkdzAwNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zgS5Ld2gKPjLa/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blur-3px{
    backdrop-filter: blur(3px);
    filter: blur(3px);
}

.blur-5px{
    backdrop-filter: blur(3px);
    filter: blur(3px);
}

.full_width{
    width: 100%;
}

.wh-100{
    height: 100%;
    width: 100%;
}