
.flex_container{
    background-color: #eee;
}

.menu-container {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.menu,
.sub-menu {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* ie */
    user-select: none;
    padding: 3px !important;
    margin: 3px !important;
}

.submenu {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    /* width: 250px;
    min-height: 25vh; */
    width: 28vh;
    min-height: 23vh;
    width: 235px;
    min-height: 190px;
    margin: 5px;
    padding: 0;
    list-style-type: none;
    background-color: #eee;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 3px 3px 10px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 3px 3px 10px 0px rgba(51, 51, 51, 0.5);
}

.submenu_extra{
    color: #37ff00;
    background: #80808080;
    border: 3px solid #5c5c5c;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
}

.icon-hand::before {
    content: '\f256';
    font: var(--fa-font-solid);
    color: #0000FF;
    padding-left: 3px;
}

.icon-hand:hover::before {
    content: '\f255';
}

.menu>li {
    display: flex;
    /* flex-basis: calc(50% - 40px); */
    /* justify-content: center; */
    flex-direction: column;
}

.menu>li>div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.break {
    flex-basis: 100%;
    height: 0;
    width: 0;
}